.formStyle {
    text-align: left;
    margin: 20px;
}

ul {
    list-style-type: none;
}

.textbox {
    width: 400px;
    height: 150px;
}

.submitButton {
    width: 100px;
    height: 25px;
    margin-top: 20px
}